#1.1 Elementary Data Types

In [88]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [89]:
b=12.7
print(b)
print(type(b))

12.7
<class 'float'>

In [90]:
c=True
print(c)
print(type(c))

True
<class 'bool'>

In [91]:
d="shaista"
print(d,type(d))

shaista <class 'str'>

The following are some of the arithmetic operations available for manipulating integers and floating point
numbers

In [92]:
#Addition
a=5
b=3
print(a+b)
#or
c=a+b
print(c)

8
8

In [93]:
#Subtraction
c=a-b
print(c)
print(a -b)

2
2

In [94]:
#Multiplication
x=34
y=22
z=x*y
print(z)
print(x*y)

748
748

In [95]:
#division
x=10
y=2
z=x/y
print(z)
print(x/2)

5.0
5.0

In [96]:
# modulo (remainder) operator
x=10
y=2
z=x%y
print(z)
print(x%2)

0
0

floating point number

In [97]:
# floating point number
#Addition
a=5.1
b=3.3
print(a+b)
#or
c=a+b
print(c)

8.399999999999999
8.399999999999999

In [98]:
#Subtraction
c=a-b
print(c)
print(a -b)

1.7999999999999998
1.7999999999999998

In [99]:
#Multiplication
x=34.22
y=22.45
z=x*y
print(z)
print(x*y)

768.2389999999999
768.2389999999999

In [100]:
#division
x=10.5
y=2.1
z=x/y
print(z)
# integer division
print(x/2)

5.0
5.25

In [101]:
# square of z
sq_z=z**2
print(sq_z)

25.0

In [102]:
# square root
print(z**(1/2))
#or
print(z**0.5)

2.23606797749979
2.23606797749979

In [103]:
# equivalent to square of z
z1=pow(5,2)
print(z1)
if z1==sq_z:
  print("yes")
else:
  print("No")

25
yes

In [104]:
# rounding z to its nearest integer
sr_z=z**0.5
rd=round(sr_z)
print(rd)

2

In [105]:
# type casting float to int
cst=int(sr_z)
print(cst)

2

The following are some of the functions provided by the math module for integers and floating point numbers

In [106]:
#math module
import math
x=54
#square root
print(math.sqrt(x))

7.3484692283495345

In [107]:
#power function
print(math.pow(23,2))

529.0

In [108]:
#exponential function
print(math.exp(4))

54.598150033144236

In [109]:
#log base 2 function
a=12
print(math.log(a,2))

3.5849625007211565

In [110]:
# absolute value
print(math.fabs(-3.56))

3.56

In [111]:
#factorial function
print(math.factorial(16))

20922789888000

In [112]:
# ceiling function
z=0.2
print(math.ceil(z))

1

In [113]:
#floor function
print(math.floor(z))

0

In [114]:
# truncate function
print(math.trunc(z))

0

In [115]:
#math.pi
print(math.pi)

3.141592653589793

In [116]:
# sine function
print(math.sin(z))

0.19866933079506122

In [117]:
 # arctan function
print(math.tanh(z))

0.197375320224904

In [118]:
# not a number
print(math.nan)
x = math.nan
print(math.isnan(x))

nan
True

In [119]:
# infinity
x = math.inf 
print(math.isinf(x))

True

The following are some of the logical operations available for booleans

In [120]:
x1=True
x2=False
print(x1 and x2) #Logical AND
print(x1 or x2) #Logical or
print(not x2) #Logical Not

False
True
True

The following are some of the operations and functions for manipulating strings

In [121]:
my_name="shaista bibi"
print(my_name)

shaista bibi

In [122]:
# print last three characters
print(my_name[9:])

ibi

In [123]:
# get the string length
print(len(my_name))

12

In [124]:
# type casting int to str
print(str(len(my_name)))
print("Length of string is " + str(len(my_name)))

12
Length of string is 12

In [125]:
# convert to upper case
print(my_name.upper())

SHAISTA BIBI

In [126]:
# convert to lower case
nick_name="SHEZO"
print(nick_name.lower())

shezo

In [127]:
# split the string into words
my_string="fall,20,bsai,016"
word=my_string.split(',')
print(word[0])
print(word[1])
print(word[2])
print(word[3])

fall
20
bsai
016

In [128]:
 # replace "bsai" with "AI"
 rp=my_string.replace("bsai","AI")
 print(rp)
 # replace "," with "-"
 rp1=my_string.replace(",","-")
 print(rp1)

fall,20,AI,016
fall-20-bsai-016

In [129]:
# find the position of "AI" in string
print(rp.find('AI'))

8

In [130]:
# check if rp is a substring of rp1
print(rp in rp1)

False

In [131]:
# equality comparison
print(rp1=="fall-20-bsai-016")

True

In [132]:
# inequality comparison
print(rp1=="AI")
#or
print(rp1 < "fall-20-bsai-016")

False
False

In [133]:
# string concatenation
first_name="shaista"
last_name="bibi"
print(first_name," " + last_name)

shaista  bibi

In [134]:
# replicate the string 3 times
print((my_string + "\n")* 3)

fall,20,bsai,016
fall,20,bsai,016
fall,20,bsai,016

#1.2 Compound Data Types
The following examples show how to create and manipulate a list object

In [135]:
my_list=[1,2,3,4,5]
print(my_list)
print("type of list",type(my_list))
print("length of list",len(my_list))

[1, 2, 3, 4, 5]
type of list <class 'list'>
length of list 5

In [136]:
# range[startvalue, endvalue, stepsize]
my_list1=list(range(1,15,1))
print(my_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [137]:
# get the third element of the list
print(my_list1[2])

3

In [138]:
# get the first two elements
print(my_list1[:2])

[1, 2]

In [139]:
# get the last three elements of the list
print(my_list1[11:])

[12, 13, 14]

In [140]:
# get the number of elements in the list
print(len(my_list1))

14

In [141]:
# sums up elements of the list
print(sum(my_list1))

105

In [156]:
# insert 15 to end of the list
my_list1.append(15)
print(my_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 15]

In [157]:
# remove last element of the list
print(my_list1.pop())
print(my_list1)

15
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15]

In [158]:
# concatenate two lists
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
print(list1 + list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [159]:
# replicate the list
print(list1 *3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [160]:
# insert item 4 at index 2 
list2.insert(2,4)
print(list2)

[6, 7, 4, 8, 9, 10]

In [161]:
# sort elements in descending order
list2.sort(reverse=True)
print(list2)

[10, 9, 8, 7, 6, 4]

In [162]:
mylist = ['this', 'is', 'a', 'list']
print(mylist)
print(type(mylist))

['this', 'is', 'a', 'list']
<class 'list'>

In [163]:
# check whether "list" is in mylist
print('list' in mylist)

True

In [164]:
# show the 3rd element of the list
print(mylist[2])

a

In [166]:
# show the last two elements of the list
print(mylist[2:])

['a', 'list']

In [167]:
# insert element to end of the list
mylist.append("too")
print(mylist)

['this', 'is', 'a', 'list', 'too']

In [168]:
# merge all elements of the list into a strin
separator=" "
print(separator.join(mylist))

this is a list too

In [169]:
# remove element from list
mylist.remove("too")
print(mylist)

['this', 'is', 'a', 'list']

The following examples show how to create and manipulate a dictionary object

In [170]:
my_dict={'MI': "Michigan","MN":"Minnesota","Tx":"Texas",'CA':"California"}
print(my_dict)
print(type(my_dict))

{'MI': 'Michigan', 'MN': 'Minnesota', 'Tx': 'Texas', 'CA': 'California'}
<class 'dict'>

In [171]:
# get the keys of the dictionary
print(my_dict.keys())

dict_keys(['MI', 'MN', 'Tx', 'CA'])

In [172]:
# get the values of the dictionary
print(my_dict.values())

dict_values(['Michigan', 'Minnesota', 'Texas', 'California'])

In [173]:
# get number of key-value pairs
print(len(my_dict))

4

In [174]:
keys = ['apples', 'oranges', 'bananas', 'cherries']
values = [3, 4, 2, 10]
fruits = dict(zip(keys, values))
print(fruits)

{'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}

In [175]:
print(sorted(fruits)) # sort keys of dictionary

['apples', 'bananas', 'cherries', 'oranges']

In [176]:
from operator import itemgetter
print(sorted(fruits.items(), key=itemgetter(0))) # sort by key of dictionary

[('apples', 3), ('bananas', 2), ('cherries', 10), ('oranges', 4)]

In [177]:
print(sorted(fruits.items(), key=itemgetter(1))) # sort by value of dictionary

[('bananas', 2), ('apples', 3), ('oranges', 4), ('cherries', 10)]

The following examples show how to create and manipulate a tuple object. Unlike a list, a tuple object is
immutable, i.e., they cannot be modified after creation.

In [179]:
MItuple = ('MI', 'Michigan', 'Lansing')
CAtuple = ('CA', 'California', 'Sacramento')
TXtuple = ('TX', 'Texas', 'Austin')
print(MItuple)
print(MItuple[1:])

('MI', 'Michigan', 'Lansing')
('Michigan', 'Lansing')

In [180]:
# this will create a list of tuples
states = [MItuple, CAtuple, TXtuple] 
print(states)

[('MI', 'Michigan', 'Lansing'), ('CA', 'California', 'Sacramento'), ('TX', 'Texas', 'Austin')]

In [181]:

print(states[2])

('TX', 'Texas', 'Austin')

In [182]:
print(states[2][:])
print(states[2][1:])

('TX', 'Texas', 'Austin')
('Texas', 'Austin')

In [183]:
# sort the states by their capital cities
states.sort(key=lambda state: state[2]) 
print(states)

[('TX', 'Texas', 'Austin'), ('MI', 'Michigan', 'Lansing'), ('CA', 'California', 'Sacramento')]

#1.3 Control Flow Statements

Similar to other programming languages, the control flow statements in Python include if, for, and while
statements. Examples on how to use these statements are shown below.

In [184]:
# using if-else statement
x=18
if x%2==0:
  print("x =", x, "is even")
else:
   print("x =", x, "is odd")

x = 18 is even

In [185]:
if x > 0:
 print("x =", x, "is positive")
elif x < 0:
 print("x =", x, "is negative")
else:
 print("x =", x, "is neither positive nor negative")

x = 18 is positive

In [187]:
 #using for loop with a list
 mylist=[1,2,3,4,5,6,7,8,9,10]
 for i in mylist:
   print(i)

1
2
3
4
5
6
7
8
9
10

In [188]:
# using for loop with list of tuples
states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
 ('TX', 'Texas', 'Austin')]
for stat in states:
  print(stat)

('MI', 'Michigan', 'Lansing')
('CA', 'California', 'Sacramento')
('TX', 'Texas', 'Austin')

In [189]:
sorted_capitals = [state[2] for state in states]
sorted_capitals.sort()
print(sorted_capitals)

['Austin', 'Lansing', 'Sacramento']

In [191]:
# using for loop with dictionary
fruits = {'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
fruitnames = [k for (k,v) in fruits.items()]
print(fruitnames)

['apples', 'oranges', 'bananas', 'cherries']

In [192]:
# using while loop
mylist = list(range(-10,10))
print(mylist)
i = 0
while (mylist[i] < 0):
 i = i + 1
 
print("First non-negative number:", mylist[i])

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
First non-negative number: 0

#.4 User-Defined Functions
You can create your own functions in Python, which can be named or unnamed. Unnamed functions are defined
using the lambda keyword as shown in the previous example for sorting a list of tuples.

In [193]:
# example of an unnamed quadratic fun
myfunc = lambda x: 3*x**2 - 2*x + 3 
print(myfunc(2))

11

In [194]:
def calculate(a,b):
  add=a+b
  print("addition =",add)
  sub=a-b
  print("subtraction =",sub)
  div=a/b
  print("division =",div)
calculate(10,4)

addition = 14
subtraction = 6
division = 2.5

In [196]:
import math
# The following function will discard missing values from a list
def discard(inlist, sortFlag=False): # default value for sortFlag is False 
 outlist = []
 for item in inlist:
  if not math.isnan(item):
     outlist.append(item)
 
 if sortFlag:
     outlist.sort()
 return outlist
mylist = [12, math.nan, 23, -11, 45, math.nan, 71]
print(discard(mylist,True))

[-11, 12, 23, 45, 71]

#1.5 File I/O
You can read and write data from a list or other objects to a file.

In [197]:
states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
 ('TX', 'Texas', 'Austin'), ('MN', 'Minnesota', 'St Paul')]
with open('states.txt', 'w') as f:
 f.write('\n'.join('%s,%s,%s' % state for state in states))

In [199]:
with open('states.txt', 'r') as f:
 for line in f:
   fields = line.split(sep=',') # split each line into its respectivefields
   print('State=',fields[1],'(',fields[0],')','Capital:', fields[2])

State= Michigan ( MI ) Capital: Lansing

State= California ( CA ) Capital: Sacramento

State= Texas ( TX ) Capital: Austin

State= Minnesota ( MN ) Capital: St Paul